.content{
    width: 80%;
    margin: 40px auto 40px auto;
}
.content ul{
    display: flex;
    flex-direction: column;
}
.content ul img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.content li{
    display: flex;
    flex-direction: row;
    height: 250px;
}
.content li{
    margin-top: -42px;
}
.content li:first-child{
    margin-top: 0;
}
.content div{
    align-self: center;
    width: 280px;
    padding: 20px 12px;
    border: 1px solid #222;
    background: #ffffff;
    box-shadow: 5px 5px #bfbfbf;
    color: #111;
}
.content li:nth-child(2n){
    justify-content: flex-start;

}
.content li:nth-child(2n-1){
    flex-direction: row-reverse;
}
.small-txt{
    font-size: 10px;
}
.mid-txt{
    font-size: 12px;
}
@media (max-width: 480px) {
    .content{
        width: 92%;
    }
    .content ul img {
        width: 150px;
        height: 150px;
    }
    .content li:nth-child(2n-1),
    .content li:nth-child(2n){
        flex-direction: column;
    }
    .content li:nth-child(2n) img{
        align-self: flex-end;
    }
    .content li {
        margin-top: -10px;
    }
    .content>p{
        margin-bottom: 12px;
    }
}