
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*home*/
body{
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;  
    overflow-x: clip;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-family: "Galmuri9", sans-serif;
    line-height: 1.4;
}
body * {
    box-sizing: border-box;
}
.wrap{
    width: 800px;
    height: auto;
    margin: auto;
}
.main-container{
    margin-top: 40px;
    width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 8px;
}
.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 6px;
    flex-wrap: wrap;
}
.header{
    width: 100%;
    height: 120px;
    border: 1px solid white;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    margin-bottom: 6px;
}
.header .small-box:first-child{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid white;
    position: relative;
}
.header-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}
.header .small-box:last-child{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.header .small-box a:hover{
    text-decoration: underline;
}
.header .small-box ul{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    line-height: 40px;
    height: 100%;
}
.header .small-box ul *{
    align-self: center;
}
.header .small-box li{
   padding: 6px 0;
}
.header .small-box a{
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding-left: 6px;
    display: block;
    width: auto;
    height: 16px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
}
.header .small-box li:last-child a{
    padding-right: 6px;
    border-right: 1px solid white;
}
.dotted-container{
    width: 100%;
    height: 2px;
    border-top: 1px dashed white;
    flex-shrink: 1;
    margin: auto 0;
}
.header h1{
    padding: 0;
    margin: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 80px;
}
.center,
.bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.center{
    margin-bottom: 6px;
}
.left-top, .center-top, .right-top{
    height: 320px;
    border: 1px solid white;
}
.left-top, .right-top{
    width: 22%;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.left-top .small-box,
.right-top .small-box{
    border: 1px solid white;
}
.left-top .small-box:first-child{
    height: 72px;
}
.left-top .small-box:last-child{
    height: 200px;
    flex-grow: 1;
}
.right-top .small-box:first-child{
    height: 100px;
}
.right-top .small-box:last-child{
    height: 220px;
}
.center-top{
    position: relative;
    width: 56%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.center-top p{
    font-width: 400;
    font-size: 14px;
}
.center-top p:first-child{
    font-width: bold;
    font-size: 16px;
    border-bottom: 1px dashed darkcyan;
}
.left-bottom, .center-bottom, .right-bottom{
    height: 160px;
    border: 1px solid white;
}
.left-bottom{
    width: 20%;
}
.left-bottom ul li{
    font-size: 13px;
}
.center-bottom{
    width: 58%;
    position: relative;
    overflow: hidden;
}
.rei-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.right-bottom{
    width: 22%;
}
.footer-container{
    width: 100%;
    height: 100px;
    border-top: 3px solid white;
    position: relative;
    overflow: hidden;
}
.img-dark-sad{
    position: absolute;
    width: 80px;
    height: auto;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.left-top .small-box{
    padding: 8px;
    font-size: 12px;
    white-space: nowrap;
}
.left-top img{
    width: 100%;
    height: 86%;
    margin-top: 12px;
    object-fit: cover;
}
.right-top img{
    width: 100%;
    height: 48px;
    object-fit: cover;
    margin-bottom: 12px;
}
.right-top p{
    font-size: 10px;
    padding: 0 4px;
}
.right-top .small-box:last-child{
    padding: 6px;
}
.right-top .small-box:last-child p{
    font-size: 16px;
    background-color: white;
    color: darkcyan;
    font-weight: bold;
}
.right-top .small-box:last-child ul{
    margin-top: 12px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 4px;
}
.right-top .small-box:last-child ul a{
    color: beige;
}
.right-top .small-box:last-child ul a:hover{
    background-color: white;
    color: black;
}
.left-bottom{
    padding: 6px;
}
.left-bottom p{
    font-size: 14px;
    background-color: white;
    color: brown;
    font-weight: bold;
    padding: 0 6px;
    margin-bottom: 12px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input-container label{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.left-bottom span{
    font-size: 12px;
}
.center-bottom{
    padding: 10px;
}
.center-bottom ul{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    margin-top: 12px;
}
.center-bottom ul a{
    color: beige;
    text-decoration: none;
}
.center-bottom span:first-child {
    display: inline-block;
    width: 86px;
}
.right-top span:first-child{
    display: inline-block;
    width: 8px;
}
.center-bottom ul a:hover{
    background-color: beige;
    color: mediumpurple;
}
.right-bottom{
    padding: 6px;
}
.right-bottom p{
    font-size: 10px;
    margin-bottom: 6px;
}
.right-bottom img{
    width: 100%;
    height: 86px;
    object-fit: cover;
    object-position: center;
}
.star-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
#sparkles{
    position:fixed; inset:0; pointer-events:none; z-index:9999;
}
@media (prefers-reduced-motion: reduce){ #sparkles{ display:none; } }
@media (max-width: 100px) {
    .wrap{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .wrap{
        width: 92vw;
        padding-bottom: 40px;
    }
    .dotted-container{
        display: none;
    }
    .header .small-box ul{
        flex-wrap: wrap;
        gap: 0 4px;
        padding: 0 12px;
    }
    .header .small-box a{
        border-left: none;
        border-bottom: 1px solid white;
    }
    .header,
    .header .small-box:last-child,
    .left-top .small-box:first-child,
    .right-top .small-box:first-child,
    .left-bottom,
    .right-top .small-box:last-child,
    .right-top{
        height: auto;
    }
    .header .small-box li:last-child a {
        padding-right: 0;
        border-right: unset;
    }
    .center{
        flex-direction: column;
    }
    .left-top{
        width: 100%;
        flex-direction: row;
        height: auto;
    }
    .center-top,
    .right-top,
    .left-bottom,
    .center-bottom,
    .right-bottom{
        width: 100%;
    }
    .bottom{
        flex-direction: column;
    }
    .rei-img{
        z-index: -1;
    }
    .right-top .small-box:last-child ul,
    .left-bottom ul li,
    .right-bottom p,
    .right-top p{
        font-size: 14px;
    }
    .right-top p,
    .center-top{
        padding: 8px;
    }
    .left-bottom p{
        font-size: 16px;
        padding: 8px;
    }
    ul{
        margin-bottom: 8px;
    }

}
